input[type="datetime-local"] {
  font: var(--text-body);
  text-transform: uppercase;
  color: var(--input-placeholder);
  
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  &:focus,
  &:valid {
    color: var(--text-color-heading);
  }
}