.mode-toggle {
  display: flex;
  border-radius: 0.5rem;
  background-color: var(--input-base);
  border: 2px solid transparent;
  outline: 1px solid var(--input-stroke);
  overflow: hidden;
  font: var(--text-body);
  padding: 0.3rem 0.5rem;
}

.mode-toggle input[type="radio"] {
  display: none;
}

.mode-toggle label {
  display: inline-flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center; 
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--text-color-body);
  text-align: center;
  font: var(--text-body);
}

.mode-toggle input[type="radio"]:checked + label {
  background-color: color-mix(in srgb, var(--brand-light) 10%, transparent);
  color: var(--text-color-heading);
  padding: 0.5rem;
}

.mode-toggle input[type="radio"]:checked + label svg path{
  fill: var(--brand-light);
}


.mode-toggle svg{
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}


