#app {
  display: grid;
  grid-template-columns: 32.78% 66.22%;

  gap: 1rem;
  width: 100vw;
  height: 100vh;

  & main {
    order: 1;
  }

  & aside {
    order: 0;
  }

  overflow: hidden;
}

main {
  width: 100%;
  padding: 1.25rem;
  overflow: auto;

  & .container-main {
    padding: 5rem;
    background-color: var(--shape-body);
    height: auto;
    border-radius: 12px;
  }
}

aside {
  padding: 1.25rem;

  & .container-aside {
    width: 100%;
    height: 100%;
    background-image: url(../assets/Background.png);
    background-size: 100% 100%;
    border-radius: 12px;

    & header {
      padding: 2rem;

      & img {
        margin-bottom: 1rem;
        width: 2.5rem;
        height: 2.5rem;
      }

      & h1 {
        font: var(--text-logo);
        color: #ff598b;
      }

      & p {
        font: var(--text-body);
        color: var(--text-color-heading);
      }
    }
  }
}
